.quiz {
  position: relative;
  width: 85%;
  margin: 0 auto;
  flex-grow: 3;
  transition: 1s;

  color: #222427;
  * {
    padding-top: 0.8rem;
  }
  div {
    transition: 1s;
    animation: enter 2s;
  }
  &_title {
    padding-right: 15%;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
  &_text {
    padding-right: 14%;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn_wrapper {
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
  bottom: 3rem;

  position: absolute;
  * {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .btn_wrapper {
    bottom: 1rem;
  }
}
@media (max-height: 660px) {
  .btn_wrapper {
    position: static;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
