.quiz {
  position: absolute;
  width: 85%;
  left: 7.5%;
  height: 100%;
  margin: 0 auto;
  flex-grow: 3;
  transition: 1s;

  color: #222427;
  * {
    padding-top: 0.8rem;
  }

  &_title {
    padding-right: 15%;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
  &_text {
    padding-right: 14%;
  }
}
.skip {
  text-align: center;
  font-size: 15px;
  line-height: 22px;

  color: #222427;

  opacity: 0.4;
  text-decoration: none;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation {
  animation: enter 2s;
}
.btn_wrapper {
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
  bottom: 3rem;

  position: absolute;
  * {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .btn_wrapper {
    bottom: 1rem;
  }
}
@media (max-height: 660px) {
  .btn_wrapper {
    position: static;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
